<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const pageSlug = window.location.pathname.split("/").pop().split(".")[0];
    const link = document.querySelector(
      '.nlds-nav-link[href="/' + pageSlug + '"]'
    );
    if (link) {
      link.parentElement.classList.remove("unactive");
      link.parentElement.classList.add("active");
      document.querySelectorAll(".nlds-nav-link").forEach((nldsLink) => {
        if (link.href != nldsLink.href) {
          link.parentElement.classList.remove("unactive");
          link.parentElement.classList.add("active");
        }
      });
    }
  });
</script>
<header class="nlds-header">
  <nav class="nlds-navbar">
    <ul>
      <li class="nlds-navbar-wrapper__title">
        <a class="nlds-link" href="../verkenner">
          <b class="nlds-navbar__title"> Hebik.nldesignsystem </b>
        </a>
      </li>
      <li>
        <ul>
          <li class="unactive">
            <a class="nlds-nav-link" href="/verkenner">Verkenner</a>
          </li>
          <li class="unactive">
            <a class="nlds-nav-link" href="/component-ehbo">Component-EHBO</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
