<script type="text/javascript"></script>
<header class="nlds-header">
  <nav class="nlds-navbar">
    <ul>
      <li>
        <a class="nlds-link" href="/">
          <b class="nlds-navbar__title"> Hebik.nldesignsystem </b>
        </a>
      </li>
      <li class="active">
        <a class="nlds-nav-link" href="/verkenner">Verkenner</a>
      </li>
      <li class="unactive">
        <a class="nlds-nav-link" href="/component-ehbo">Component-EHBO</a>
      </li>
    </ul>
  </nav>
</header>
