@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,525;1,525&display=swap");

.nlds-header {
  inline-size: 100%;
  block-size: 80px;
}

.nlds-navbar {
  block-size: 80px;
}

.nlds-navbar ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  block-size: 100%;
  list-style-type: none;
}

.nlds-navbar > ul {
  display: grid;
  grid-template-columns: auto 1fr;
}

li.active {
  background-color: #f8f8f8;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  line-height: 68px;
  box-sizing: border-box;
  border-color: #e3e3e3;
  text-align: center;
  align-items: center;
  margin-block: auto;
  inline-size: 50%;
  block-size: 100%;
}

li.unactive {
  box-sizing: border-box;
  border-color: #e6e6e6;
  line-height: 68px;
  text-align: center;
  align-items: center;
  margin-block: auto;
  inline-size: 50%;
  block-size: 100%;
  border-block-end: 4px solid #e6e6e6;
}

li.unactive .nlds-nav-link {
  margin-block-start: 5px;
}

.nlds-link {
  text-decoration: none;
}

.nlds-nav-link {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  text-decoration: none;
  font-size: 1.45rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 525;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #a2a2a2;
}

.nlds-navbar-wrapper__title {
  display: inline-block;
  vertical-align: middle;
  grid-column: 1;
  block-size: 28.5px;
  background-color: rgb(13, 31, 42);
  padding-inline: 23.25px;
  padding-block: 23.25px;
  padding-inline-end: 362px;
  border-block-end: 5px solid #e6e6e6;
}

.nlds-navbar__title {
  display: block;
  font-family: "Fira Sans";
  font-size: 28px;
  color: #fff;
}

@media (max-width: 1160px) {
  .nlds-navbar > ul > li > ul {
    flex-direction: row;
    inline-size: 100%;
  }

  .nlds-navbar > ul > li > ul > li {
    inline-size: 100%;
  }

  .nlds-navbar > ul > li {
    inline-size: 100%;
  }

  .nlds-navbar > ul {
    grid-template-columns: 100%;
  }

  .nlds-navbar-wrapper__title {
    border-block-end: 0;
  }
}
