<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= description %>" />
    <link rel="stylesheet" href="../../css/header-layout.css" />
    <link rel="apple-touch-icon" href="../../images/apple-touch-icon.png" />
    <title>Component-EHBO - Hebik.nldesignsystem</title>
  </head>
  <body style="margin: 0; padding: 0; border: 0">
    <%- include('../layouts/header-layout.ejs') %>
    <main></main>
  </body>
</html>
